version: 2.1

jobs:
  build-linaro-gcc-4.7:
    docker:
      - image: ubuntu:18.04
    steps:
      - checkout
      - run: |
          apt-get update
          apt-get install -y build-essential flex bison libgmp-dev libmpfr-dev libmpc-dev texinfo wget gcc-aarch64-linux-gnu g++-aarch64-linux-gnu libc6-dev-arm64-cross
      - run: |
          mkdir build && cd build
          ../configure --build=x86_64-linux-gnu --host=aarch64-linux-gnu --target=arm-eabi --prefix=/workspace/linaro-gcc-4.7-arm-eabi --enable-languages=c,c++ --disable-multilib
      - run: |
          cd build
          make -j$(nproc)
          make install
      - store_artifacts:
          path: /workspace/linaro-gcc-4.7-arm-eabi

workflows:
  build:
    jobs:
      - build-linaro-gcc-4.7
